{% extends "_base.twig" %}

{% block main %}
<main class="main  container">
    <div class="content">
        <article class="article  article--page  typeset">
            <h1>Posts</h1>
        </article>
        <section class="section  typeset">
            <ul class="list  list--posts">
                {% for post in site.content.posts %}
                <li class="item  item--post">
                    <article class="article  article--post">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <small class="small  post-meta">
                            <!-- <span class="label  label--category"><a href="/categories/#general">General</a></span> -->
                            <!-- &nbsp;·&nbsp;<time datetime="2016-08-29T00:00:00+01:00" class="time">29 Aug 2016</time> -->
                            &nbsp;·&nbsp;<time datetime="{{ post.datetime }}" class="time">{{ post.datetime }}</time>
                        </small>
                        <p>{{ post.resume }}</p>
                    </article>
                </li>
                {% endfor %}
                <!-- <li class="item  item--post">
                    <article class="article  article--post">

                        <h2><a href="/general/2016/08/29/example-post-three/">Description of a Pot Still</a></h2>


                        <small class="small  post-meta">



                            <span class="label  label--category"><a href="/categories/#general">General</a></span>

                            &nbsp;·&nbsp;<time datetime="2016-08-29T00:00:00+01:00" class="time">29 Aug 2016</time>
                        </small>

                        <p>A pot still is a type of still used in distilling spirits such as whisky or brandy. Heat is
                            applied directly to the pot containing the wash (for whisky) or wine (for brandy).</p>


                    </article>
                </li>

                <li class="item  item--post">
                    <article class="article  article--post">

                        <h2><a href="/history/external%20sources/2016/08/28/example-post-two/">History of the
                                Alembic</a>
                        </h2>


                        <small class="small  post-meta">



                            <span class="label  label--category"><a href="/categories/#history">History</a></span>,

                            <span class="label  label--category"><a href="/categories/#external-sources">External
                                    sources</a></span>

                            &nbsp;·&nbsp;<time datetime="2016-08-28T00:00:00+01:00" class="time">28 Aug 2016</time>
                        </small>

                        <p>Dioscorides’ ambix (described in his De materia medica) is a helmet-shaped lid for gathering
                            condensed mercury. For Athenaeus (~ 225 C.E.) it is a bottle or flask. For later chemists it
                            denotes various parts of crude distillation devices.</p>



                    </article>
                </li> -->

            </ul>
            <!-- <nav class="nav  nav--paginator">


                <span class="pagination  pagination--previous">← Newer</span>


                <span class="pagination  pagination--counter">Page: 1 of 2</span>


                <a href="/blog/page2" class="pagination  pagination--next">Older →</a>


            </nav> -->

        </section>
    </div>
</main>
{% endblock main %}